/************** map *****************/
html, body, #map {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}


h1, h2 {
  color: darkgreen;
}


/****** specify global spinner ******/
.spinner {
  /* display:none; */
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1000;
  border: 16px solid white;
  border-top: 16px solid blue;
  border-bottom: 16px solid blue;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Bootstrap overrides */
.tabs > .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: darkgreen;
}

.tabs {
  background-color: black;
}

.nav-item > a {
  color: gray;
}
/************************/
